body{
    margin: 0px;
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    height: 2rem;
}
nav a{
    color: rgb(78, 4, 78);
    font-size: 1.5rem; 
}
#h{
    background-color: gold;
}
nav a:hover{
    background-color: white;
    color: darkgreen;
}
h1{
    text-align: center;
}
.home{
    display: flex;
    border: 1px solid crimson;
    height: 10rem;
    width: 8rem;
    background-color: crimson;
}
.container{
    display: flex;
    border: 1px solid aqua;
    border-top: crimson;
    justify-content: space-around;
}
.home:nth-child(3){
    background-color: aqua;
    border: aqua;
}
.home:nth-child(1){
    height: 15rem;
}
.home:last-child{
    height: 15rem;
}
article{
    text-align: center;
    font-size: large;
}
img{
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
    margin: 1rem;
}