body{
    margin: 0px;
    background-color: aqua;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    height: 2rem;
}
nav a{
    color: rgb(78, 4, 78);
    font-size: 1.5rem; 
}
#h{
    background-color: gold;
}
nav a:hover{
    background-color: white;
    color: darkgreen;
}
h1{
    text-align: center;
}
.home{
    display: flex;
    border: 1px solid crimson;
    height: 10rem;
    width: 8rem;
    background-color: crimson;
}
.container{
    display: flex;
    border: 1px solid aqua;
    border-top: crimson;
    justify-content: space-around;
}
.home:nth-child(3){
    background-color: aqua;
    border: aqua;
}
.home:nth-child(1){
    height: 15rem;
}
.home:last-child{
    height: 15rem;
}
article{
    text-align: center;
    font-size: large;
}
img{
    height: 50%;
    width: 50%;
    position: relative;
    left: 25%;
    margin: 1rem;
}
.headA{
    border: 2px solid darkblue;
    height: 4rem;
    background-color: blue;
}
.funfact{
    display: flex;
    border: 3px solid darkcyan;
    height: 50rem;
    background-color: red;
    width: 50%;
    flex-direction: column;
}
.funimg{
    display: flex;
    border: 3px solid darkcyan;
    height: 50rem;
    width: 50%;
    background-color: red;
    flex-direction: column;
}
h2{
    text-align: center;
}
.about{
    border: 5px solid darkcyan;
    height: 50%;
    width: 100%;
    background-color: coral;
}
.coolimg{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
}
.acomp{
    border-bottom: 2px solid black;
}
.confinement{
    border: 1px solid black ;
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: maroon;
    margin-left: 25%;
}
ul{
    color: yellow;
}
ul a{
    color: lightblue;
}
.sheep{
    height: 80%;
    width: 80%;
    left: 10%
}
.back{
    margin-left: 50%;
}
.formbox{
    display: flex;
    border: 1px solid darkorange;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    background-color: darkorange;
}
.type{
    left: 0;
    margin-top: 2%;
    padding: 0;
    height: 100%;
    width: 100%;
    margin-left: 0;
}